.App{
    margin-top: -1%;
    display: block;
    background-color: black;
    color: white;
    height: 100%;
    width:100%;
}
.one{
    margin-top: -1;
    text-align: center;
}
.two{
  padding-right: 1110;
  justify-content: flex-start;
  margin-right:-10;
}
.icon{
  font-size: 45px;
  color: rgb(223, 223, 236);
}
